body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    padding-top: 160px;
}

/*@keyframes mymove {*/
/*0%   {top: -10px; left: -45px;, transform: translate(0px, 0px);}*/
/*5%   {transform: translate(0px, 0px);}*/
/*25%   {transform: translate(4px, -4px);}*/
/*50%  {top: -25px;left: -60px; transform: translate(0px, 0px);}*/
/*75%   {transform: translate(4px, -4px);}*/
/*95%   {transform: translate(0px, 0px);}*/
/*100% {top: -10px; left: -45px; transform: translate(0px, 0px);}*/
/*}*/
@keyframes rotate {
    0% {
        transform: rotate(0deg) translateX(15px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(15px) rotate(-360deg);
    }
}

input:focus {
    outline: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header-top {
    height: 90px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 10px;
}

.logo img {
    width: 90px;
}

.logo {
    display: inline-block;
    width: 130px;
    text-align: center;
    margin: 0 auto;
}

.search {
    position: absolute;
    right: 25px;
}

.search form {
    position: relative;
}

.search input[type=text]:focus {
    border-color: #627172;
    width: 250px;
}

.search input[type=text] {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ecf0f1;
    border-radius: 22px;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
    transition: width 0.5s;
}

.search input[type=submit] {
    background: url(images/search.png) no-repeat;
    height: 25px;
    width: 25px;
    border: none;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 8px;
    right: 10px;
}

.header-menu {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    background-color: #ecf0f1;
}

.header-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #627172;
}

.header a:hover {
    font-weight: bold;
}

.aside {
    position: fixed;
    top: 160px;
    width: 200px;
    z-index: 10;
    padding: 30px 0px;
    height: calc(100vh - 160px);
    display: flex;
    background-color: rgba(98, 113, 114, 0.3);
    align-items: center;
}

.aside a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.aside img {
    height: 20px;
    margin-right: 5px;
}

.aside-menu__item-about span:first-letter {
    font-size: 0;
}

.aside .aside-menu__item-about img {
    margin-right: 0;
}

.aside-menu__item {
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.main-content {
    width: 100%;
    /*top: 160px;*/
    margin-bottom: 40px;
}

.main-content .section-about {
    height: calc(100vh - 160px);
    position: relative;
}

.main-content .about-bg {
    background-image: url(images/bg.jpg);
    height: 100%;
    width: 100%;
    background-position: right top;
    background-size: cover;
    -webkit-filter: opacity(50%);
    -moz-filter: opacity(50%);
    -o-filter: opacity(50%);
    -ms-filter: opacity(50%);
    filter: opacity(50%);
}

.section-about .big-quote {
    position: absolute;
    width: 35%;
    top: 20%;
    left: 30%;
    font-size: 21px;
    line-height: 40px;
}

.big-quote::before {
    content: "";
    background: url(images/quote_left.png);
    height: 40px;
    width: 34px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: -45px;

    animation: mymove 2s infinite;
}

.big-quote::after {
    content: "";
    background: url(images/quote_right.png);
    height: 40px;
    width: 34px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    right: -35px;
}

.section-team {
    margin-top: 20px;
    padding: 0 20px;
    margin-left: 200px;
}

.section-team .item {
    display: flex;
    height: 300px;
    align-items: center;

}

.section-team .item-img {
    width: 40%;
    justify-content: center;
}

.section-team .item-img img {
    max-width: 100%;
    max-height: 300px;
}

.section-team .about-hero p {
    padding: 20px 30px;
    max-height: 54%;
    line-height: 23px;
    overflow: hidden;
}

.section-team .about-hero {
    width: 60%;

    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.about-hero .name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate-shield {
    animation: rotate 2s infinite;
    margin-left: 20px;
    animation-timing-function: ease-in-out;

}

.footer {
    background-color: #ecf0f1;
    height: 250px;
    margin-left: 200px;
}

.join-form {
    margin: 0 auto;
    width: 50%;
    height: 120px;
    text-align: center;
    padding: 20px;

}

.join-form form {
    display: inline-block;
    position: relative;
}

.join-form input[type=submit] {
    border: none;
    background: url(images/send.png) no-repeat;
    height: 25px;
    width: 27px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 18px;
}

.join-form input[type=text] {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ecf0f1;
    border-radius: 22px;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

.join-form input:focus {
    border-color: #627172;
}

.join-head {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.footer .quote {
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.footer .quote span {
    position: relative;
}

.footer .quote span::before {
    content: url(images/quote_left.png);
    position: absolute;
    top: -30px;
    left: -45px;
    transform: scale(.5);
}

.footer .quote span::after {
    content: url(images/quote_right.png);
    position: absolute;
    bottom: -35px;
    right: -40px;
    transform: scale(.5);
}

.hamburger {
    display: none;
}

#nav-icon2 {
    width: 40px;
    height: 45px;
    left: 15px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon2 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #627172;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 6px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 30px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 13px;
}

#nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 13px;
}

#nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 23px;
}

#nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 23px;
}
.mobile-search{
    display: none;
}
@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 991px) {
    body {
        padding-top: 90px;
    }

    .header {
        z-index: 20;
    }

    .hamburger {
        display: block;
    }
    .header-top .search{
        display: none;
    }
    .mobile-search .search{
        position: relative;
        right:0;
    }
    .mobile-search {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .header-menu.open .header-menu__item {
        padding: 20px 30px;
    }

    .header-menu.open {
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        height: calc(100vh - 110px);
        align-items: flex-start;
    }

    .aside {
        top: 90px;
        width: 60px;
        height: calc(100vh - 110px);
    }

    .aside a span {
        display: none;
    }

    .main-content .section-about {
        height: calc(100vh - 90px);
    }

    .section-team {
        margin-left: 60px;
    }
    .footer{
        margin-left: 60px;
    }
}

@media screen and (max-width: 480px) {
    .section-about .big-quote{
        position: absolute;
        width: 60%;
        top: 20%;
        left: 28%;
        font-size: 19px;
        line-height: 35px;
    }
    .big-quote::before{
        top: -30px;
        left: -33px;

    }
    .section-team .item{
        position: relative;
    }
    .section-team .item-img{
        position: absolute;
        width: 100%;
        opacity: 0.3;
    }
    .section-team .about-hero{
        z-index: 1;
        width: 100% ;
    }
    .join-form{
        width:auto;
    }
    .footer {
        width: calc(100vw - 60px);

    }
    .footer *{
        box-sizing: border-box;
    }
    .join-form input[type=text]{
        width: 100%;
        padding: 5px 20px;
        height: 40px;
        padding: 5px 20px;
    }
    .join-form input[type=submit]{
        background-color: #fff;
        right: 8px;
    }
    .footer .quote{
        line-height: 25px;
        font-size: 16px;
        margin-top: 15px;
    }
    .section-team .about-hero p {
        padding: 10px 10px;
        max-height: 65%;
        line-height: 23px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 16px;
    }
}
