body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.aside {
    position: fixed;
    width: 350px;
    z-index: 10;
    height: 100%;
    display: flex;
    background-color: #ecf0f1;
    align-items: center;
}

.aside-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.aside .tags {
    display: flex;
    flex-direction: column;
    padding: 0 117px;
}

.aside .tags a {
    margin-bottom: 10px;
}

.news-feed div {
    display: flex;
}

.main-content {
    max-width: 1170px;
    margin-left: 400px;
    padding: 0 20px;
}

.edit {
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.search {
    margin: 40px auto;
}

.search form {
    position: relative;
}

.search input[type=text]:focus {
    border-color: #627172;
}

.search input[type=text] {
    width: 250px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid #ecf0f1;
    font-size: 15px;
    font-family: 'Muli', sans-serif;
}

input:focus {
    outline: none;
}

.news-feed .news-item {
    display: flex;
    height: 250px;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    justify-content: center;
}
.news-item::after{
    content: " ";
    position: absolute;
    bottom: 0px;
    width: 75%;
    height: 1px;
    margin: 0 auto;
    background-color: rgb(133,162,255);
}
/*.news-item:nth-child(2n+1) {*/
/*flex-direction: row-reverse;*/
/*}*/

.news-feed .item-img {
    align-items: center;
    height: 100%;
}

/*.news-feed .item-img img {*/
/*max-width: 100%;*/
/*max-height: 300px;*/
/*}*/

.news-feed .date {
    margin: 10px 0;
}

.news-feed .description {
    line-height: 23px;
    overflow: hidden;
}


.tags a:hover, .tags a.active {
    opacity: 1;
}

.tags a {
    color: #fff;
    padding: 10px 20px;
    position: relative;
    text-decoration: none;
    opacity: 0.4;
    font-weight: bold;
    height: 20px;
}

.news-feed {
    padding-top: 50px;
}
.news-feed .item-about {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-right: 30px;
    position: relative;
}

.remove-item {
    cursor: pointer;
    font-size:14px;
    color: rgb(133, 162, 255);
}

.item-about .name {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-item.proto {
    display: none;
}

.nothingFound.active {
    display: block;
}

.nothingFound {
    display: none;
    margin: 150px auto;
}

a[data-tag=Business] {
    background-color: #2980b9;
}

a[data-tag=Sport] {
    background-color: #f39c12;
}

a[data-tag=Politics] {
    background-color: #3498db;
}

a[data-tag=Food] {
    background-color: #e74c3c;
}

a[data-tag=Tech] {
    background-color: #1abc9c;
}

a[data-tag=Culture] {
    background-color: #9b59b6;
}

a[data-tag=Showbiz] {
    background-color: #2ecc71;
}

.loader {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background: rgb(248, 248, 249);
    z-index: 100;
}

.loader.active {
    display: block;
}

.cssload-spin-box {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    -o-box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    -ms-box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    -webkit-box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    -moz-box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    animation: cssload-spin ease infinite 4.6s;
    -o-animation: cssload-spin ease infinite 4.6s;
    -ms-animation: cssload-spin ease infinite 4.6s;
    -webkit-animation: cssload-spin ease infinite 4.6s;
    -moz-animation: cssload-spin ease infinite 4.6s;
}

@keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    }
    25% {
        box-shadow: -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255);
    }
    50% {
        box-shadow: -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241);
    }
    75% {
        box-shadow: 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255);
    }
}

@-o-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    }
    25% {
        box-shadow: -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255);
    }
    50% {
        box-shadow: -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241);
    }
    75% {
        box-shadow: 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255);
    }
}

@-ms-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    }
    25% {
        box-shadow: -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255);
    }
    50% {
        box-shadow: -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241);
    }
    75% {
        box-shadow: 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255);
    }
}

@-webkit-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    }
    25% {
        box-shadow: -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255);
    }
    50% {
        box-shadow: -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241);
    }
    75% {
        box-shadow: 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255);
    }
}

@-moz-keyframes cssload-spin {
    0%,
    100% {
        box-shadow: 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241);
    }
    25% {
        box-shadow: -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255);
    }
    50% {
        box-shadow: -23px -23px rgb(133, 162, 255), 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241);
    }
    75% {
        box-shadow: 23px -23px rgb(236, 240, 241), 23px 23px rgb(133, 162, 255), -23px 23px rgb(236, 240, 241), -23px -23px rgb(133, 162, 255);
    }
}